[submodule "src/raspi_cpu_temp"]
	path = src/raspi_cpu_temp
	url = git@github.com:Roboterbastler/raspi_cpu_temp.git
	branch = master
[submodule "src/roseau_msgs"]
	path = src/roseau_msgs
	url = git@github.com:Roboterbastler/roseau_msgs.git
	branch = master
[submodule "src/raspicam_node"]
	path = src/raspicam_node
	url = git@github.com:UbiquityRobotics/raspicam_node.git
	branch = indigo
