<launch>
    <node name="motor_controller" pkg="motor_controller" type="motor_controller_node" />
    
    <node name="motor_pid_controller" pkg="pid" type="controller" >
        <param name="Kp" value="0.1" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="31" />
        <param name="lower_limit" value="-31" />
        <param name="windup_limit" value="31" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        
        <remap from="state" to="motor_rpm" />
    </node>
</launch>
